
# /
/*.suo
/*.ncb
/*.sdf
/*.opensdf
/ipch
/*.user
/_ReSharper.*
/packages

.vs/

# /Odey.FocusList/
/Odey.FocusList/[Bb]in
/Odey.FocusList/obj
/Odey.FocusList/[Dd]ebug
/Odey.FocusList/[Rr]elease
/Odey.FocusList/*.user
/Odey.FocusList/*.aps
/Odey.FocusList/*.eto
/Odey.FocusList/ClientBin
/Odey.FocusList/GeneratedArtifacts
/Odey.FocusList/_Pvt_Extensions

# /Odey.FocusList.Clients/
/Odey.FocusList.Clients/[Bb]in
/Odey.FocusList.Clients/obj
/Odey.FocusList.Clients/[Dd]ebug
/Odey.FocusList.Clients/[Rr]elease
/Odey.FocusList.Clients/*.user
/Odey.FocusList.Clients/*.aps
/Odey.FocusList.Clients/*.eto
/Odey.FocusList.Clients/ClientBin
/Odey.FocusList.Clients/GeneratedArtifacts
/Odey.FocusList.Clients/_Pvt_Extensions

# /Odey.FocusList.Contracts/
/Odey.FocusList.Contracts/[Bb]in
/Odey.FocusList.Contracts/obj
/Odey.FocusList.Contracts/[Dd]ebug
/Odey.FocusList.Contracts/[Rr]elease
/Odey.FocusList.Contracts/*.user
/Odey.FocusList.Contracts/*.aps
/Odey.FocusList.Contracts/*.eto
/Odey.FocusList.Contracts/ClientBin
/Odey.FocusList.Contracts/GeneratedArtifacts
/Odey.FocusList.Contracts/_Pvt_Extensions

# /Odey.FocusList.FocusListService/
/Odey.FocusList.FocusListService/[Bb]in
/Odey.FocusList.FocusListService/obj
/Odey.FocusList.FocusListService/[Dd]ebug
/Odey.FocusList.FocusListService/[Rr]elease
/Odey.FocusList.FocusListService/*.user
/Odey.FocusList.FocusListService/*.aps
/Odey.FocusList.FocusListService/*.eto
/Odey.FocusList.FocusListService/ClientBin
/Odey.FocusList.FocusListService/GeneratedArtifacts
/Odey.FocusList.FocusListService/_Pvt_Extensions

# /Odey.FocusList.FocusListService/Properties/PublishProfiles/
/Odey.FocusList.FocusListService/Properties/PublishProfiles/*.user

# /Odey.FocusList.Testing/
/Odey.FocusList.Testing/[Bb]in
/Odey.FocusList.Testing/obj
/Odey.FocusList.Testing/[Dd]ebug
/Odey.FocusList.Testing/[Rr]elease
/Odey.FocusList.Testing/*.user
/Odey.FocusList.Testing/*.aps
/Odey.FocusList.Testing/*.eto
/Odey.FocusList.Testing/ClientBin
/Odey.FocusList.Testing/GeneratedArtifacts
/Odey.FocusList.Testing/_Pvt_Extensions
.vs/config/applicationhost.config
