<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="KeeleyModel" connectionString="metadata=res://*/KeeleyModel.csdl|res://*/KeeleyModel.ssdl|res://*/KeeleyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL02-uat;Initial Catalog=Keeley;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EnsoSFTPProfile" value="TEST" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="default" maxReceivedMessageSize="5000000" receiveTimeout="03:20:00" sendTimeout="03:20:00">
          <readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="test" maxReceivedMessageSize="5000000" receiveTimeout="03:20:00" sendTimeout="03:20:00">
          <readerQuotas maxStringContentLength="5000000" maxArrayLength="5000000" />
          <security mode="Transport">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://app02-uat/ClientAccountService/ClientAccountService.svc" binding="netTcpBinding" contract="Odey.ClientServices.Contracts.IClientAccount" bindingConfiguration="default" />
      <endpoint address="net.tcp://app02-uat/ClientTradeService/ClientTradeService.svc" binding="netTcpBinding" contract="Odey.ClientServices.Contracts.IClientTrade" bindingConfiguration="default" />
      <endpoint address="net.tcp://app02-uat/ClientPortfolioService/ClientPortfolioService.svc" binding="netTcpBinding" contract="Odey.ClientServices.Contracts.IClientPortfolio" bindingConfiguration="default" />
      <endpoint address="net.tcp://app02-uat/PriceService/PriceService.svc" binding="netTcpBinding" contract="Odey.MarketData.Contracts.IPrice" />
      <endpoint address="net.tcp://app02-uat/FXRateService/FXRateService.svc" binding="netTcpBinding" contract="Odey.MarketData.Contracts.IFXRate" />
      <endpoint address="net.tcp://app02-uat/FundService/FundService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IFund" bindingConfiguration="default" />
      <endpoint address="net.tcp://app02-uat/FocusListService/FocusListService.svc" binding="netTcpBinding" contract="Odey.FocusList.Contracts.IFocusList" bindingConfiguration="default" />
      <endpoint address="net.tcp://app02-uat/InstrumentMarketService/InstrumentMarketService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrumentMarket" bindingConfiguration="default" />
      <endpoint address="net.tcp://app02-uat/InstrumentService/InstrumentService.svc" binding="netTcpBinding" contract="Odey.StaticServices.Contracts.IInstrument" bindingConfiguration="default" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>